.Radio {
    font-family: 'Montserrat', sans-serif;
    color:#000;
   
}
input[type=radio] {
    border-color: #ffcc00!important;
    width:20px !important;
    height:20px !important;
    font-size:30px!important;
    border: 2px !important;
    accent-color: #FF0000;
}
select {
    border:0 solid #000!important;
    border-radius: 10px!important;
    background-color: #39b158;
    padding-left: 15px;
    color:#fff;
}
.ComboBox {
    font-family: 'Montserrat', sans-serif;
    width:220px;
    height:35px;
    margin-bottom:20px;

}
@media screen and (min-width:600px) and (max-width:1600px) {
    .Radio {
        font-family: 'Montserrat', sans-serif;
        color:#000;
        font-size: 20px;
    }
}