.footer {
    position: fixed;
    flex-direction: row;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: slategrey;
    height:50px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 10px;
  }